
    <header-home></header-home>

            
        <!-- Hero Area Begin -->
        <div class="hero-area set-bg"  [ngStyle]="{background: 'url(assets/img/elements-bg.jpg)'}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-text">
                            <h2>Frequently Asked Questions ?</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Elements Section Begin -->
        <section class="elements-section spad">
            <div class="container">
                <!-- According and Tab Element -->
                <div class="accordintab-elem">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="accordin-elem">
                                <div class="accordion" id="accordionExample">
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a data-toggle="collapse" data-target="#collapseOne">
                                                What Is ProFx Signals ?
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>
                                                    ProFx Signals is a Finance company. We produce cryptocurrency trading signals and provide them as a service to our members through a package purchase. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a data-toggle="collapse" data-target="#collapseTwo">
                                                Who Can Join ProFx Signals ?
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Anyone who is above age of 18 and knows how network marketing business works. Compaines/Professionals/Beginers.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a class="active" data-toggle="collapse" data-target="#collapseThree">
                                                How ProFx Signal works ?
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>
                                                    Once you buy package, you get Professional trading signals in your backoffice, you can use those signals for personal trading.
                                                    Apart from it you earn daily bonus. We also have network marketing income plan, you can check our marketing tool for details.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a class="active" data-toggle="collapse" data-target="#collapseFour">
                                                How do i start ?
                                            </a>
                                        </div>
                                        <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Click on Sign Up link and create your account by filling simple form.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a class="active" data-toggle="collapse" data-target="#collapseFive">
                                                What is the minimum and maximum investment limit?
                                            </a>
                                        </div>
                                        <div id="collapseFive" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>
                                                   You can choose from our exisiting package which starts from $25 upto $3000
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a class="active" data-toggle="collapse" data-target="#collapseSix">
                                                Do i need to invite people inorder to earn?
                                            </a>
                                        </div>
                                        <div id="collapseSix" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>
                                                    It is not mandatory to invite people, If you participate in our Passive Income program.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a class="active" data-toggle="collapse" data-target="#collapse7">
                                                What are the payment options available ?
                                            </a>
                                        </div>
                                        <div id="collapse7" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>
                                                    All purchase and withdrawals are processed through Bitcoins and other top alt coins
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a class="active" data-toggle="collapse" data-target="#collapse8">
                                                What are the withdrawal rules ?
                                            </a>
                                        </div>
                                        <div id="collapse8" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>
                                                    All Withdrawal request will be processed within 24 hours time frame from Monday - Firday
                                                    Minimum withdrawal amount is $10 and Maximum 1000$ per day.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a class="active" data-toggle="collapse" data-target="#collapse9">
                                                What if my question is not answered here ?
                                            </a>
                                        </div>
                                        <div id="collapse9" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>
                                                    You can create your account and submit support request if your question is not answered here.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
                <!-- Footer Begin -->
                <footer-home></footer-home>
      
        </section>
        
        