
    <header-home></header-home>

            
        <!-- Hero Area Begin -->
        <div class="hero-area set-bg"  [ngStyle]="{background: 'url(assets/img/elements-bg.jpg)'}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-text">
                            <h2>Frequently Asked Questions ?</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Elements Section Begin -->
        <section class="elements-section spad">
            <div class="container">
                <!-- According and Tab Element -->
                <div class="accordintab-elem">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="accordin-elem">
                                <div class="accordion" id="accordionExample">
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a data-toggle="collapse" data-target="#collapseOne">
                                                What Is ProFx Signals ?
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>ProFx Signals offers exciting Network Marketing tools and services which can really boost your team build
                                                    and online income. Our marketing plan helps all online audience (active/passive) to grow their online carrier.
                                                    With strong infrastucture and experienced people in our team, we have made this possible. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a data-toggle="collapse" data-target="#collapseTwo">
                                                Who Can Join ProFx Signals ?
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Anyone who is above age of 18 and knows how network marketing business works. Compaines/Professionals/Beginers.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a class="active" data-toggle="collapse" data-target="#collapseThree">
                                                How ProFx Signal works ?
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>
                                                    We have designed our plan with $10 Lot which gets split as 50% is reserved for our company trading account, which pays
                                                    1% daily for 150 days paying you back 15$,
                                                    30% is distributed upto 15 Level and 10% goes to direct commission and remaining 10% goes to matrix plan.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a class="active" data-toggle="collapse" data-target="#collapseFour">
                                                How do i start ?
                                            </a>
                                        </div>
                                        <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Click on Sign Up link and create your account by filling simple form.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a class="active" data-toggle="collapse" data-target="#collapseFive">
                                                What is the minimum and maximum investment limit?
                                            </a>
                                        </div>
                                        <div id="collapseFive" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>
                                                    You need minimum $10 and no max limit to get started with this business.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a class="active" data-toggle="collapse" data-target="#collapseSix">
                                                Do i need to invite people inorder to earn?
                                            </a>
                                        </div>
                                        <div id="collapseSix" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>
                                                    It is not mandatory to invite people, If you participate in our Passive Income program.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a class="active" data-toggle="collapse" data-target="#collapse7">
                                                What are the payment options available ?
                                            </a>
                                        </div>
                                        <div id="collapse7" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>
                                                    All purchase and withdrawals are processed through Bitcoins and other top alt coins
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a class="active" data-toggle="collapse" data-target="#collapse8">
                                                What are the withdrawal rules ?
                                            </a>
                                        </div>
                                        <div id="collapse8" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>
                                                    All Withdrawal request will be processed within 24 hours time frame from Monday - Firday
                                                    Minimum withdrawal amount is $5 and Maximum 500$ per day.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardfaq">
                                        <div class="card-heading active">
                                            <a class="active" data-toggle="collapse" data-target="#collapse9">
                                                What if my question is not answered here ?
                                            </a>
                                        </div>
                                        <div id="collapse9" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>
                                                    You can create your account and submit support request if your question is not answered here.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
                <!-- Footer Begin -->
                <footer-home></footer-home>
      
        </section>
        
        