<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Buy Trade Lots</strong>          
        </div>
        <div class="card-body">
            <div class="packagelist" > <!-- *ngIf="confirm" -->
              <div class="row" *ngFor="let plan of Plans">
                <div class="col-md-2">
                  <span class="packagebtn">{{plan.Name}}</span>
                </div>
                <div class="col-md-8">
                  <h4>{{plan.Name}} ({{plan.MinimumInvestment}}$) , Daily Binary Cap : {{plan.MinimumInvestment}}$ , Gains : 300%</h4>
                </div>
                <div class="col-md-2">
                  <a (click)="onSubmit(plan.Id)" class="btn btn-outline-primary active">Select Package</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div><!--/.col-->
   </div>
</div>