<div class="animated fadeIn">
  <div class="card" > 
    <div class="card-header">
      <i class="fa fa-align-justify"></i>Purchase History
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Purchase Id</th>
            <th>Purchase Note</th>
            <th>Amount</th>
            <!-- <th>Processor Name</th> -->
            <th>Purchase Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let purchase of PurchaseData">
            <td>{{purchase.Id}}</td>
            <td>{{purchase.TranscationNote}}</td>
            <td>{{purchase.FinalAmountRaw}}</td>
            <!-- <td>{{purchase.TranscationTypeString}}</td> -->
            <td>{{purchase.TransactionDate |  date:'mediumDate'}}</td>
            <td>
              <span [ngClass]="{'badge-success': purchase.StatusId == 2,
                                'badge-danger': purchase.StatusId == 1}" class="badge">{{purchase.TransStatusString}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>