<section class="page-wrapper">
    <header-home></header-home>

    <!-- Hero Area Begin -->
    <div class="hero-area set-bg" [ngStyle]="{background: 'url(assets/img/elements-bg.jpg)'}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Elements Section Begin -->
    <section class="elements-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>About ProFx Signals</h1>
                    <p>
                        ProFx Signals is a Finance company. We produce cryptocurrency trading signals and provide them as a service to our members through a monthly subscription. 
                        Our goal is to provide the highest quality crypto trading signals possible. We also provide a very user-friendly platform that makes it easy for our members to take trades. 
                        This platform is called ProFx Trading System. 
                        ProFx Signals Passive System is the second platform that we introduce and focuses on lower entry and allows you to build a lasting passive income. 
                        We utilize the trading experience we have to generate profits and share these profits with our users.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img width="600" src="assets/img/blog/blog-2.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1>How We Grow</h1>
                    <p>
                        We promote our service through our Sales Network of Affiliates. In lieu of traditional advertising methods, we simply pay independent contractors that refer new members 
                        to ProFx Signals Passive System. All sales of the packs must go through a replicated website (indicated by their personalized web address). We pay out 90% of our gross revenue of the trading fund to our affiliates. That is one of the highest payouts in the entire industry.
                    </p>
                    <h1>What We're About</h1>
                    <p>
                        Our core corporate principals are simplicity and transparency. The ProFx Signal Passive System is one the easiest trading system ever created. Our affiliate compensation plan is one of the simplest plans you will ever see. No fine print. No hidden details. No smoke and mirrors. Everything is clear, simple and upfront. We are completely transparent in all that we do.
                        It simply does not get any easier or transparent than that. We welcome you to our global family of ProFx Signals users and would be delighted to have you join us.
                    </p>
                </div>
            </div>
        </div>

       <footer-home></footer-home>

    </section>
</section>