@model HomeModel
@using SmartStore.Web.Models.Home
@{
	Layout = "_Layout";
}

<div class="headerbg">
	<div class="header" style="background-image: url('theme/images/newimg/homebanner.jpg');z-index:3;">
		<div class="pagewidth homebanner">
		
		</div>
	</div>
</div>
