
<section class="page-wrapper">


  <header-home></header-home>

  <section class="contentarea homebanner" style="display:flex; flex-direction: column;">    
      <!-- <div class="col-lg-6">
        <div class="bannertext">
          <h1>The world of social trading</h1>
          <h2>Trade on any market. Invest in the best performing managers. Follow the most successful traders’
            strategies. Create your own Fund or Asset Management Program</h2>
          <a class="btn btn-primary text-uppercase btn-join" [routerLink]="['/register']">Join</a>
        </div>
      </div> -->
     
        <img  src="assets/img/banner.jpg" alt="" />
        <div id="coinmarketcap-widget-marquee" coins="1,1027,825,2,1958,1839,52,512,328,873" 
        currency="USD" theme="dark" transparent="true" show-symbol-logo="true"></div>
  

  </section>

  <!----- content area start -->

  <section class="contentarea">
    
    <div class="packagesbox">
      
      <div class="container">
       
        <h1 class="text-center">ProFx Signal Binary System</h1>
       
        <div class="row whyFeatures">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="whyfeaImage">
                <img src="assets/img/why-2.png" alt="why-2" class="img-fluid">
              </div>
              <div class="align-self-center whyfeaIncon">
                <h5>Get Professional Trading Signals​</h5>
                <p>
                  Once you join, you will receive trading signals in our backoffice. You can use our signals to trade your funds.
                  If you dont know how to trade, still you receive daily ROI on our platform.
                  Everyday at 1am Central European Time the trading profits are shared with all the users. This makes
                  Morning a happy day for a change ;-)
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="whyfeaImage">
                <img src="assets/img/why-3.png" alt="why-3" class="img-fluid">
              </div>
              <div class="align-self-center whyfeaIncon">
                <h5>Network Income</h5>
                  <p>
                    We offer a direct bonus of 10% and binary income if you grow your network and introduce people to this greate platform.
                    Binary income will be calculated as 10% of week leg, so e.g if you have 500 Points on left and 200 points on right.
                    You can 10% of 200$ i.e 20% (1 Point = 1$) 
                  </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="whyfeaImage">
                <img src="assets/img/why-1.png" alt="why-1" class="img-fluid">
              </div>
              <div class="align-self-center whyfeaIncon">
                <h5>Flexibility in deposits and withdrawals</h5>
                <p>
                  ProFx Signal Passive System lets you deposit and withdraw in BTC, ETH, LTC, USDT (Omni) and TRX. No
                  deposit fees except miners fees!</p>
              </div>
              
            </div>
          </div>
          
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="align-self-center whyfeaIncon">
                <img src="assets/img/auto-logo.png" />
              </div>
            </div>
          </div> 
      </div>
    </div>
  </div>
  
    <a name="package"></a>
    <div class="packagesbox">
      <div class="container">
        <h1 class="text-center">How To Get Started With ProFx Signal Passive System?</h1>
        <div class="row whyFeatures">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="whyfeaImage">
                <img src="assets/img/why-1.png" alt="why-1" class="img-fluid">
              </div>
              <div class="align-self-center whyfeaIncon">
                <h5>1. Sign Up</h5>
                <p>
                  Sign up for free and without obligation here: </p>
                <div class="whyFeaLink">
                  <a class="btn btn-blue" [routerLink]="['/register']">
                    Sign Up </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="whyfeaImage">
                <img src="assets/img/why-2.png" alt="why-2" class="img-fluid">
              </div>
              <div class="align-self-center whyfeaIncon">
                <h5>2. Start Earning​</h5>
                <p>
                  Buy any of our package to get a place in the profit share, Daily company profit is shared among all active lots in the System. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="whyfeaImage">
                <img src="assets/img/why-3.png" alt="why-3" class="img-fluid">
              </div>
              <div class="align-self-center whyfeaIncon">
                <h5>3. Get info</h5>
                <p>
                  Check out all the information of our marketing tool in backoffice 
                  and join our social media channels. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="whyfeaImage">
                <img src="assets/img/why-4.png" alt="why-4" class="img-fluid">
              </div>
              <div class="align-self-center whyfeaIncon">
                <h5>4. Optimize your income</h5>
                <p>
                  It is not needed to refer anyone to ProFx Signal Passive System to earn an income but if you do refer
                  people, you will be rewarded with commissions and grow in our career plan. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a name="product"></a>
    <div class="container marketingservices homecontent" id="product">
      <div class="container-fluid d-flex justify-content-center">
        <div class="row mt-5">
            <div class="col-sm-4">
                <div class="card"> <img src="assets/img/package1.png" class="card-img-top" width="100%">
                    <div class="card-body pt-0 px-0">
                        <div class="d-flex flex-row justify-content-between mb-0 px-3"><h6 class="price">Package 1</h6>
                            <h6 class="price">$25</h6>
                        </div>
                        <hr class="mt-2 mx-3">
                        <div class="d-flex flex-row justify-content-between px-3 pb-4">
                            <div class="d-flex flex-column"><span>Daily ROI Upto 3%</span><small></small></div>
                        </div>
                        <div class="d-flex flex-row justify-content-between px-3 pb-4">
                            <div class="d-flex flex-column"><span>Binary Daily Maximum $25</span><small></small></div>
                        </div>
                        <div class="d-flex flex-row justify-content-between px-3 pb-4">
                          <div class="d-flex flex-column"><span>Direct Bonus $2.5</span><small></small></div>
                        </div>
                        <div class="mx-3 mt-3 mb-2"><button type="button" class="btn btn-primary btn-block"><small>Buy Now</small></button></div> <small class="d-flex justify-content-center text-muted">*Legal Disclaimer</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
              <div class="card"> <img src="assets/img/package2.png" class="card-img-top" width="100%">
                <div class="card-body pt-0 px-0">
                    <div class="d-flex flex-row justify-content-between mb-0 px-3"><h6 class="price">Package 2</h6>
                        <h6 class="price">$50</h6>
                    </div>
                    <hr class="mt-2 mx-3">
                    <div class="d-flex flex-row justify-content-between px-3 pb-4">
                        <div class="d-flex flex-column"><span>Daily ROI Upto 3%</span><small></small></div>
                    </div>
                    <div class="d-flex flex-row justify-content-between px-3 pb-4">
                        <div class="d-flex flex-column"><span>Binary Daily Maximum $50</span><small></small></div>
                    </div>
                    <div class="d-flex flex-row justify-content-between px-3 pb-4">
                      <div class="d-flex flex-column"><span>Direct Bonus $5</span><small></small></div>
                    </div>
                    <div class="mx-3 mt-3 mb-2"><button type="button" class="btn btn-primary btn-block"><small>Buy Now</small></button></div> <small class="d-flex justify-content-center text-muted">*Legal Disclaimer</small>
                </div>
            </div>
            </div>
            <div class="col-sm-4">
              <div class="card"> <img src="assets/img/package3.png" class="card-img-top" width="100%">
                <div class="card-body pt-0 px-0">
                    <div class="d-flex flex-row justify-content-between mb-0 px-3"><h6 class="price">Package 3</h6>
                        <h6 class="price">$100</h6>
                    </div>
                    <hr class="mt-2 mx-3">
                    <div class="d-flex flex-row justify-content-between px-3 pb-4">
                        <div class="d-flex flex-column"><span>Daily ROI Upto 3%</span><small></small></div>
                    </div>
                    <div class="d-flex flex-row justify-content-between px-3 pb-4">
                        <div class="d-flex flex-column"><span>Binary Daily Maximum $100</span><small></small></div>
                    </div>
                    <div class="d-flex flex-row justify-content-between px-3 pb-4">
                      <div class="d-flex flex-column"><span>Direct Bonus $10</span><small></small></div>
                    </div>
                    <div class="mx-3 mt-3 mb-2"><button type="button" class="btn btn-primary btn-block"><small>Buy Now</small></button></div> <small class="d-flex justify-content-center text-muted">*Legal Disclaimer</small>
                </div>
            </div>
            </div>
            <div class="col-sm-4">
              <div class="card"> <img src="assets/img/package4.png" class="card-img-top" width="100%">
                <div class="card-body pt-0 px-0">
                    <div class="d-flex flex-row justify-content-between mb-0 px-3"><h6 class="price">Package 4</h6>
                        <h6 class="price">$250</h6>
                    </div>
                    <hr class="mt-2 mx-3">
                    <div class="d-flex flex-row justify-content-between px-3 pb-4">
                        <div class="d-flex flex-column"><span>Daily ROI Upto 3%</span><small></small></div>
                    </div>
                    <div class="d-flex flex-row justify-content-between px-3 pb-4">
                        <div class="d-flex flex-column"><span>Binary Daily Maximum $250</span><small></small></div>
                    </div>
                    <div class="d-flex flex-row justify-content-between px-3 pb-4">
                      <div class="d-flex flex-column"><span>Direct Bonus $25</span><small></small></div>
                    </div>
                    <div class="mx-3 mt-3 mb-2"><button type="button" class="btn btn-primary btn-block"><small>Buy Now</small></button></div> <small class="d-flex justify-content-center text-muted">*Legal Disclaimer</small>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card"> <img src="assets/img/package5.png" class="card-img-top" width="100%">
              <div class="card-body pt-0 px-0">
                  <div class="d-flex flex-row justify-content-between mb-0 px-3"><h6 class="price">Package 5</h6>
                      <h6 class="price">$500</h6>
                  </div>
                  <hr class="mt-2 mx-3">
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                      <div class="d-flex flex-column"><span>Daily ROI Upto 3%</span><small></small></div>
                  </div>
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                      <div class="d-flex flex-column"><span>Binary Daily Maximum $500</span><small></small></div>
                  </div>
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                    <div class="d-flex flex-column"><span>Direct Bonus $50</span><small></small></div>
                  </div>
                  <div class="mx-3 mt-3 mb-2"><button type="button" class="btn btn-primary btn-block"><small>Buy Now</small></button></div> <small class="d-flex justify-content-center text-muted">*Legal Disclaimer</small>
              </div>
          </div>
          </div>
          <div class="col-sm-4">
            <div class="card"> <img src="assets/img/package5.png" class="card-img-top" width="100%">
              <div class="card-body pt-0 px-0">
                  <div class="d-flex flex-row justify-content-between mb-0 px-3"><h6 class="price">Package 6</h6>
                      <h6 class="price">$1000</h6>
                  </div>
                  <hr class="mt-2 mx-3">
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                      <div class="d-flex flex-column"><span>Daily ROI Upto 3%</span><small></small></div>
                  </div>
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                      <div class="d-flex flex-column"><span>Binary Daily Maximum $1000</span><small></small></div>
                  </div>
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                    <div class="d-flex flex-column"><span>Direct Bonus $100</span><small></small></div>
                  </div>
                  <div class="mx-3 mt-3 mb-2"><button type="button" class="btn btn-primary btn-block"><small>Buy Now</small></button></div> <small class="d-flex justify-content-center text-muted">*Legal Disclaimer</small>
              </div>
          </div>
          </div>
          <div class="col-sm-4">
            <div class="card"> <img src="assets/img/package6.png" class="card-img-top" width="100%">
              <div class="card-body pt-0 px-0">
                  <div class="d-flex flex-row justify-content-between mb-0 px-3"><h6 class="price">Package 7</h6>
                      <h6 class="price">$1500</h6>
                  </div>
                  <hr class="mt-2 mx-3">
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                      <div class="d-flex flex-column"><span>Daily ROI Upto 3%</span><small></small></div>
                  </div>
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                      <div class="d-flex flex-column"><span>Binary Daily Maximum $1500</span><small></small></div>
                  </div>
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                    <div class="d-flex flex-column"><span>Direct Bonus $150</span><small></small></div>
                  </div>
                  <div class="mx-3 mt-3 mb-2"><button type="button" class="btn btn-primary btn-block"><small>Buy Now</small></button></div> <small class="d-flex justify-content-center text-muted">*Legal Disclaimer</small>
              </div>
          </div>
          </div>
          <div class="col-sm-4">
            <div class="card"> <img src="assets/img/package6.png" class="card-img-top" width="100%">
              <div class="card-body pt-0 px-0">
                  <div class="d-flex flex-row justify-content-between mb-0 px-3"><h6 class="price">Package 8</h6>
                      <h6 class="price">$3000</h6>
                  </div>
                  <hr class="mt-2 mx-3">
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                      <div class="d-flex flex-column"><span>Daily ROI Upto 3%</span><small></small></div>
                  </div>
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                      <div class="d-flex flex-column"><span>Binary Daily Maximum $3000</span><small></small></div>
                  </div>
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                    <div class="d-flex flex-column"><span>Direct Bonus $300</span><small></small></div>
                  </div>
                  <div class="mx-3 mt-3 mb-2"><button type="button" class="btn btn-primary btn-block"><small>Buy Now</small></button></div> <small class="d-flex justify-content-center text-muted">*Legal Disclaimer</small>
              </div>
          </div>
          </div>
          <div class="col-sm-4">
            <div class="card"> <img src="assets/img/package6.png" class="card-img-top" width="100%">
              <div class="card-body pt-0 px-0">
                  <div class="d-flex flex-row justify-content-between mb-0 px-3"><h6 class="price">Package 9</h6>
                      <h6 class="price">$5000</h6>
                  </div>
                  <hr class="mt-2 mx-3">
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                      <div class="d-flex flex-column"><span>Daily ROI Upto 3%</span><small></small></div>
                  </div>
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                      <div class="d-flex flex-column"><span>Binary Daily Maximum $5000</span><small></small></div>
                  </div>
                  <div class="d-flex flex-row justify-content-between px-3 pb-4">
                    <div class="d-flex flex-column"><span>Direct Bonus $500</span><small></small></div>
                  </div>
                  <div class="mx-3 mt-3 mb-2"><button type="button" class="btn btn-primary btn-block"><small>Buy Now</small></button></div> <small class="d-flex justify-content-center text-muted">*Legal Disclaimer</small>
              </div>
          </div>
          </div>
        </div>
    </div>
    </div>
    <div class="packagesbox">
      <div class="container">
        <h1 class="text-center">Important rules</h1>
        <div class="row whyFeatures">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="align-self-center whyfeaIncon">
                <p>
                  To be qualified and able to receive binary earnings, you only need to have at least one package active on each side </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="align-self-center whyfeaIncon">
                <p>
                  All contracts have a limit of 300% of profit on the value of your current plan. This includes Direct/Binary/Daily/Upgrade bonus </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="align-self-center whyfeaIncon">
                <p>Your first binary pair will be considered as qualification pair and will not count for binary bonus </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="align-self-center whyfeaIncon">
                <p>Daily binary cap limit is equal to your package cost</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="align-self-center whyfeaIncon">
                <p>Daily bonus will be paid from monday to friday</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="align-self-center whyfeaIncon">
                <p>On upgrading you will only pay the difference of package cost</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 whyfeaCol">
            <div class="d-flex flex-wrap flex-sm-nowrap whyfeaContent">
              <div class="align-self-center whyfeaIncon">
                <p>Withdrawal will be processed daily 8 am to 6 pm and minimum withdrawal limit is $10 and maximum $1000 per day</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--- Footer area -->
    <div class="legDis">
      <div class="container">
        <h4> LEGAL DISCLAIMER </h4>
        <p>
          The above references are just an opinion meant for information purposes only. They are not intended to be an investment advice. Please seek a duly licensed professional for the investment advice. ImpulsX Passive won’t be liable for any losses you may incur following our opinion.			</p>
      </div>
    </div>
   
    <footer-home></footer-home>
  </section>
  <!-- content area end -->


</section>

<!-- Footer End -->
<script>
  $(document).ready(function () {
    $(".homeslider").show();
    $(".homeslider").slick({
      dots: true,
      fade: true,
      infinite: true,
      autoplay: true,
      arrows: false,
      autoplaySpeed: 3000,
      speed: 1500,
      slidesToShow: 1,
      adaptiveHeight: true
    });

    $(".regular").show();
    $(".regular").slick({
      dots: false,
      infinite: true,
      rows: 1,
      slidesPerRow: 1,
      slidesToShow: 1,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 800,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            infinite: true,
            dots: false
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }

        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
  });
</script>