<div class="animated fadeIn">
  <div class="row" style="margin-top: 25px;">
    <div class="col-6">
        <div class="col-sm-12">
          <div class="card text-white bg-info cardbalance">
            <div class="card-body pb-0">
              <div class="text-value">Cash  Wallet : {{CustomerInfoModel.AvailableBalance}}$</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card text-white bg-warning cardbluebalance">
            <div class="card-body pb-0">
              <div class="text-value">Trade Earning : {{CustomerInfoModel.TradeIncome}}$</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card text-white bg-info cardbalance">
            <div class="card-body pb-0">
              <div class="text-value">Active Lots : {{CustomerInfoModel.TodaysPair}}$</div>
            </div>
        </div>
        </div>
        <div class="col-sm-12">
          <div class="card text-white bg-warning cardbluebalance">
            <div class="card-body pb-0">
              <div class="text-value">Network Earning : {{CustomerInfoModel.NetworkIncome}}$</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card text-white bg-info cardbalance">
            <div class="card-body pb-0">
              <div class="text-value">Direct Earning : {{CustomerInfoModel.DirectBonus}}$</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card text-white bg-info cardbalance">
            <div class="card-body pb-0">
              <div class="text-value">Withdraw Amount : {{CustomerInfoModel.CompletedWithdrawal}}$</div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-6" style="background:#262c50; padding:20px;">
      <table style="color: white;">
        <tr>
          <td style="width: 250px;" colspan="2"><b>Name : </b>{{CustomerInfoModel.FullName}}</td>
          <td rowspan="4"><img style="height: 200px;width: 200px;margin-left: 30px;" src="assets/img/avatars/6.jpg"></td>
        </tr>
        <tr>
          <td style="width: 250px;" colspan="2"><b>Email : </b>{{CustomerInfoModel.Email}}</td>
        </tr>
        <tr>
          <td style="width: 250px;" colspan="2"><b>Date of Joining : </b>{{CustomerInfoModel.RegistrationDate}}</td>
        </tr>
        <tr>
          <td style="width: 250px;" colspan="2"><b>Account Status : </b>{{CustomerInfoModel.Status}}</td>
        </tr>
        <tr>
          <td style="width: 250px;" colspan="2"><b>Inviter : </b>{{CustomerInfoModel.ReferredBy}} ({{CustomerInfoModel.AffilateId}})</td>
        </tr>
        <tr>
          <td colspan="3"><b>Affiliate Link : </b><a target="_blank" href="{{SiteUrl}}?r={{CustomerInfoModel.Name}}">{{SiteUrl}}?r={{CustomerInfoModel.Name}}</a></td>
        </tr>
        <tr *ngFor="let board of CustomerBoard">
            <td colspan="3">
              {{board.BoardName}} - 
              <strong>{{board.NoOfPositionFilled}}/{{board.NoOfPositionRemaining + board.NoOfPositionFilled}} Completed ({{board.CompletionPer}}%)</strong>
              <div class="progress progress-xs mt-2">
                <div class="progress-bar bg-success" role="progressbar" [ngStyle]='{width: board.style}' aria-valuenow="board.CompletionPer" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </td>
            
        </tr>
      </table>
    </div>
    <!-- <div class="col-2"><img src="assets/img/avatars/6.jpg"></div> -->
  </div>
</div>